
    
h1{
    font-family: 'Georgia', Times, 'Times New Roman', serif; color: white;text-align: left;border-color: #dddddd;background-color: #4aaaa5;width: 25%;
}

h2{
    font-family: 'Georgia', Times, 'Times New Roman', serif; color:#4aaaa5;text-align: left;

}
body{
    border-color: #dddddd;background-color: #ffffff;
}
.box {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 2px;}
    div{
        height: 200px;
  width: 50%;
    }
